html {
  font-family: sans-serif;
  font-size: 16px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 32px;
  
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 
    "header header"
    "main sidebar"
    "footer sidebar";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  grid-area: footer;
}

aside {
  grid-area: sidebar;
}

.message-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start;
}

.message-group .profile-picture {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.message:hover {
  background-color: #eee;
}

.message .author-line {
  display: flex;
  gap: 8px;
}

.message .author {
  font-weight: bold;
}

.message .time {
  font-style: italic;
  font-size: 0.75em;
  color: #333;
}

.message img {
  max-width: 100%;
  max-height: 300px;
}

#users {
  min-width: 200px;
}

#users ul {
  padding: 0;
}

.user {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.user .profile-picture {
  width: 16px;
  height: 16px;
  font-size: 16px;
}


#text-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

#text-box textarea {
  font-family: inherit;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  resize: none;
}

h1 {
  margin: 0;
}

.prompt {
  font-style: italic;
}

.upload-label {
  cursor: pointer;
}

.icon-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}